*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.myTitle{
  text-align:center;
font-family:Arial, Helvetica, sans-serif;
}
.listInput{
  font-size:1.5rem;
  height:100%;

}
body{
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.onClickButton{
  font-size: 1.5rem;
  height:100%;
}
.myList{
  font-size:1.5rem; 
}
.myDate{
  font-size:1.5rem;
  height:100%;
  width:100%;

}
.onclickButton{
  font-size:1.5rem;
}
.headerContainer{
  height:100vh;
  width:100vw;
padding:10px;
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
}
.topSubContainer{
  height:80px;
  width:100%;
  display:flex;
  justify-content:space-between;

}
.top{
  height:100%;
  width:200px;
}
.item{
  font-size:1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-right:0px;
    margin-top: 30px; */
/* height:200px; */
  
}
.date {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  
  /* margin: 100px ; */
 /* margin-left:180px;
    margin-top: 30px; */

}
.deleteButton {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;  
  /* margin: 10px; */
  /* height:80px;
  width:149.95px;
  margin-left:267px;
  margin-top:30px; */
  border-radius:30px;
  height: 80px;
    width: 149.95px;

}
.myList{
  display:flex;
  flex-direction: column;
  padding:30px;
}
button{
  border-radius:30px;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  color:whitesmoke;
}
.itemCont{
  display:flex;
  justify-content:space-between;
}
.itemCont div{
  margin:20px;
  
}
